@import url("https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700;800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

.title {
  font-family: "Life Savers", serif;
  font-weight: 800;
}

* {
  font-family: "Montserrat", sans-serif;
}
